.header {
    width: 100%;
    padding: 50px 60px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.buttonPrimary {
    color: #FFF;
    text-transform: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #C0ACD7;
    width: 176px;
    height: 44px;
    font-family: GilroyExtraBold, sans-serif;
}

.buttonPrimary:hover {
    background: #a38db0;
}

.buttonSecondary {
    color: #0D152E;
    text-transform: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;
    border: none;
    width: 176px;
    height: 44px;
    font-family: GilroyExtraBold, sans-serif;
}

.projectName {
    color: #0D152E;
    font-family: GilroyExtraBold, sans-serif;
    font-weight: 700;
    font-size: 20px;
}